101 ICON "tunnelBird.ico"  
#ifdef _WIN32  
    #define VOS_NT_WINDOWS32    0x00040004L  
    #define VFT_APP             0x00000001L  
#else  
#endif  
12 BITMAP "character.bmp"  
13 BITMAP "blocks.bmp"  
14 BITMAP "font.bmp"  
1 VERSIONINFO  
FILEVERSION 1,0,0,0  
PRODUCTVERSION 1,0,0,0  
FILEOS 0x40004  
FILETYPE 0x2  
{  
BLOCK "StringFileInfo"  
{  
    BLOCK "040904B0"  
	{  
        VALUE "CompanyName", "jfj_games"  
        VALUE "FileDescription", "game_tunnelBird"  
        VALUE "FileVersion", "1,0,0,0"  
        VALUE "InternalName", "tunnelBird"  
        VALUE "LegalCopyright", "Copyright (c) 2025 jfj_games."  
        VALUE "OriginalFilename", "tunnelBird.exe"  
        VALUE "ProductName", "tunnelBird"  
        VALUE "ProductVersion", "1.0.0.0"  
    }  
}  
BLOCK "VarFileInfo"  
{  
    VALUE "Translation", 0x0409, 1252  
}  
}  
